# Panda Lesson
> Includes: importing pandas, panda library, panda dataframes, pandas and filtering/sorting data
- toc: true
- tags: [lesson]
- type: lesson
- week: 31

## What are pandas and what is its purpose?
- Pandas is a software library that is used in Python
- Pandas are used for data analysis and data manipulation
    - Pandas offer data structures and operations for manipulating numerical tables and time series. 
- Pandas is free
## Things you can do using pandas
- Data Cleansing
- Data fill
- statistical analysis
- Data visualization
- Data inspection
## Pandas and Data analysis
The 2 most important data structures in Pandas are:
- Series
- DataFrame

## Dataframes

In [2]:
# Importing Pandas 
import pandas as pd

In [3]:
# Check if pandas is working
pd.__version__

'1.4.2'

## Importing CSV data

Links to find CSV data
    - you can follow along or choose your own csv data
- https://sports-statistics.com/sports-data-sets-for-data-modeling-visualization-predictions-machine-learning/
- https://data.world/datasets/sports

The one I am using:
- https://www.kaggle.com/datasets/fernandol/countries-of-the-world?resource=download

In [4]:
data_frame = pd.read_csv("countries of the world.csv")

## Creating a dataframe

In [7]:
countries = pd.Series(["Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla"])

region = pd.Series(["Asia","Eastern Europe","Northern Africa","Western Europe","Sub-Saharan Africa","Latin America"])

pd.DataFrame({"countries": countries, "region": region})

     countries              region
0  Afghanistan                Asia
1      Albania      Eastern Europe
2      Algeria     Northern Africa
3      Andorra      Western Europe
4       Angola  Sub-Saharan Africa
5     Anguilla       Latin America

As you can see the pandas and the series function display the data nicely.

In [24]:
filtered_data = data_frame[data_frame['Population'] > 1000000000 ]

pd.DataFrame(filtered_data)

# only the countries above 1000000000 are being printed

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
42,China,ASIA (EX. NEAR EAST),1313973713,9596960,"136,9","0,15","-0,4","24,18",5000.0,"90,9","266,7","15,4","1,25","83,35","1,5","13,25","6,97","0,125","0,473","0,403"
94,India,ASIA (EX. NEAR EAST),1095351995,3287590,"333,2","0,21","-0,07","56,29",2900.0,"59,5","45,4","54,4","2,74","42,86","2,5","22,01","8,18","0,186","0,276","0,538"

In [29]:
# you can use this same type of filtering and customize it to what you want
# Here is another example
filtered_data2 = data_frame[data_frame['GDP ($ per capita)'] < 10000 ]

pd.DataFrame(filtered_data2)

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
5,Angola,SUB-SAHARAN AFRICA,12127071,1246700,"9,7","0,13",0,"191,19",1900.0,"42,0","7,8","2,41","0,24","97,35",NaN,"45,11","24,2","0,096","0,658","0,246"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,Wallis and Futuna,OCEANIA,16025,274,"58,5","47,08",NaN,NaN,3700.0,"50,0","118,6",5,25,70,2,NaN,NaN,NaN,NaN,NaN
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

## Using pandas for data analysis

- Pandas allows users to easily import data from a variety of file formats, including CSV, Excel, and SQL databases. It provides  tools for data cleaning, transformation, and analysis, such as filtering, grouping, pivoting, and statistical analysis. 

- Pandas also integrates well with other popular visualization libraries like Matplotlib and Seaborn to create informative and visually appealing data visualizations. 

### Why is pandas effective?
- Pandas is a built in python library that is free
- It offers a variety of tools such as:
    - Data Handling: Pandas can handle a variety of data formats, including CSV, Excel, SQL databases, and more. It makes it easy to read and manipulate large datasets with multiple rows and columns.

    - Data Cleaning: Pandas provides powerful tools for data cleaning, such as handling missing values, dealing with duplicates, and transforming data into the desired format.

    - Data Transformation: Pandas provides flexible and efficient functions for data transformation, such as filtering, sorting, grouping, merging, and pivoting data.

    - Data Visualization: Pandas integrates well with other popular visualization libraries like Matplotlib and Seaborn to create effective and informative data visualizations.

### Pandas in our project

As explained before, pandas can be used to organzie and manipulate data. In our own project, we created an NBA statistics site that allows you to calculate/predict future outcomes such as points scored, game winners, etc. You can imagine how Pandas comes into use here. Our project uses lots of CSV data files so we use Pandas to filter and sort through to use only the data that we need. Pandas also offer fucntions that allow for statistical analysis that we will be using in our project.